# PostgreSQL principal
POSTGRES_DB=match_immo
POSTGRES_USER=match_immo
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_PORT=5433

# Backend FastAPI
DATABASE_URL=postgresql+psycopg://match_immo:CHANGE_ME@127.0.0.1:5433/match_immo

# POC Citus
CITUS_POSTGRES_DB=matchimmo_citus
CITUS_POSTGRES_USER=postgres
CITUS_POSTGRES_PASSWORD=CHANGE_ME
CITUS_COORDINATOR_PORT=55432
